@font-face {
    font-family: "lichess";
    src: url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.eot");
    src: url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.woff") format("woff"), url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1926835283cbd17d05331a50e3039ada.svg#lichess") format("svg");
}

.App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
